@{
    ViewBag.Title = "Oma Koti sovellus";
}

<div class="jumbotron">
    <h1>Oma Koti sovellus</h1>
    <p class="lead">Oma Koti sovelluksella pääset ohjaamaan kotisi valaistusta, lämpötilaa sekä saunan/saunojen toimintaa</p>
    <p><a href="~/OkLampos" class="btn btn-primary btn-lg">Lämpötila &raquo;</a></p>
    <p><a href="~/OkLampos/Create" class="btn btn-primary btn-lg">Tallenna mitattu lämpötila &raquo;</a></p>
    <p><a href="~/OkSaunaTilas" class="btn btn-primary btn-lg">Saunan Tila &raquo;</a></p>
    <p><a href="~/OkSaunaTilas/Create" class="btn btn-primary btn-lg">Tallenna saunan tila &raquo;</a></p>
    <p><a href="~/OkSaunaLampos/Create" class="btn btn-primary btn-lg">Tallenna saunassa mitattu lämpötila &raquo;</a></p>
    <p><a href="~/OkValonTilas" class="btn btn-primary btn-lg">Valon Tila &raquo;</a></p>
    <p><a href="~/OkValonTilas/Create" class="btn btn-primary btn-lg">Tallenna valon tila &raquo;</a></p>
    

</div>


